.sidebar-toolbar {
    font-size: 1em;
}

.mat-toolbar-row {

    background: rgb(250, 250, 250);
}
.sidebar-element{
    display: flex;
    text-decoration: none;
    align-items: center;
}
a{
    color: inherit;
}

.active-link{
    font-weight: bold;
}