
<mat-toolbar class="sidebar-toolbar" >  
    <mat-toolbar-row>
      <a class="sidebar-element" routerLink="allCourses" routerLinkActive="active-link" ariaCurrentWhenActive="page">
        <mat-icon >view_comfy</mat-icon>
      <span>All Courses</span>
    </a>
    </mat-toolbar-row>

    <mat-toolbar-row>
        <a class="sidebar-element" routerLink="enrolledCourses" routerLinkActive="active-link" ariaCurrentWhenActive="page">
        <mat-icon>subscriptions</mat-icon>
        <span>Enrolled Courses</span>
        </a>
      </mat-toolbar-row>
  
    <mat-toolbar-row>
      <a class="sidebar-element" routerLink="profile" routerLinkActive="active-link" ariaCurrentWhenActive="page">
        <mat-icon>account_circle</mat-icon>
      <span>Profile</span>
      </a>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <a class="sidebar-element" routerLink="setting" routerLinkActive="active-link" ariaCurrentWhenActive="page">
        <mat-icon>settings</mat-icon>
        <span>Setting</span>
      </a>
      </mat-toolbar-row>
  </mat-toolbar>
