<div class="circle1">
</div>
<div class="circle2">
</div>
<div class="circle3">
</div>
<div class="circle4">
</div>
<div class="container">

    <mat-card class="card">
        <mat-card-header> Kindly Login</mat-card-header>
        <form class="form" #submit="ngForm" (ngSubmit)="onSubmit(submit)">
            <mat-card-content class="card-content">

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input #emailId="ngModel" type="email" matInput placeholder="Enter your email" name="email"
                        (input)="eventHandle($event)" [(ngModel)]="userLogin.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                    <mat-icon class="material-icons-outlined" matSuffix>email</mat-icon>
                    <!-- <mat-hint>Full Name</mat-hint> -->
                </mat-form-field>
                
                <div *ngIf="emailId.invalid &&(emailId.touched||emailId.dirty)">
                    <mat-error *ngIf="emailId.errors?.['required']" class="alert-error">Email Id Required</mat-error>
                    <mat-error *ngIf="emailId.errors?.['pattern']" class="alert-error">Enter valid email</mat-error>
                </div>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input #passId="ngModel" minlength="6" name="password" type="password" matInput
                        placeholder="Enter password" (input)="eventHandle($event)" [(ngModel)]="userLogin.pass" required>
                    <mat-icon class="material-icons-outlined" matSuffix>password</mat-icon>

                    <!-- <mat-hint>Min 6 length: contains type A,a,#,1</mat-hint> -->
                    <!-- <mat-hint>A,a,@,#,*,1.</mat-hint> -->
                </mat-form-field>
                <div *ngIf="passId.invalid &&(passId.touched||passId.dirty)">
                    <mat-error *ngIf="passId.errors?.['required']" class="alert-error">Password Required</mat-error>
                    <!-- <mat-error *ngIf="passId.errors?.['minlength']" class="alert-error">Minimum length 6 is
                        required</mat-error> -->
                </div>
                
                   
                
                <mat-form-field appearance="outline">
                    <mat-label>Select Role</mat-label>
                    <mat-icon class="material-icons-outlined" matSuffix>account_box</mat-icon>
                    <mat-select name="role" #role="ngModel" required [(ngModel)]="userLogin.role" (input)="eventHandle($event)">
                        <mat-option value="student">Student</mat-option>
                        <mat-option value="teacher">Teacher</mat-option>
                        <mat-option value="teacher">Admin</mat-option>
                    </mat-select>
                    
                </mat-form-field>
                <div *ngIf="role.invalid &&(role.touched||role.dirty)">
                    <mat-error *ngIf="role.errors?.['required']" class="alert-error">Role
                        required</mat-error>
                </div>
                <!-- <mat-form-field class="example-form-field">
                <mat-label>Clearable input</mat-label>
                <input matInput type="text" [(ngModel)]="value">
                <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field> -->
                <p> <a routerLink="/forgetpassword" routerLinkActive="active" ariaCurrentWhenActive="page">Forget
                        Password?</a></p>
            </mat-card-content>
            <mat-card-footer class="card-content">
                <button [disabled]="emailId.invalid||passId.invalid||role.invalid" class="input" mat-raised-button color="accent" type="submit">Login</button>
                <p>Don't have an account? <a routerLink="/signup" routerLinkActive="active"
                        ariaCurrentWhenActive="page">Signup</a></p>
            </mat-card-footer>
            <mat-error>{{msgFromBackend}}</mat-error>

            <!-- <p>{{msgFromBackend}}</p> -->
        </form>
    </mat-card>
</div>